.App {
  text-align: center;
  height: 100%;
}

.backlog, .statistics {
  float: left;
  width: calc(50% - 2px);
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  border: 1px solid rebeccapurple;

}

ul{
  list-style: none;
  border: 1px solid green;
  width: 35%;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
}
