.App {
  text-align: center;
  background: red;
  height: 100%;
}

.backlog, .statistics {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  border: 1px solid green;
  width: 50%;
  margin: 0 auto;
}
